* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    height: 100%;
    font-size: 35px;
}

.flexCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexCenterColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.paddingSections {
    padding: 70px 20px;
}