header {
    padding: 20px 2%;
}

header div.logo {
    width: 236px;
    height: 40px;
    background-image: url(../imagens/logo.png);
    background-position: center;
    background-size: cover;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li {
    text-transform: uppercase;
    padding: 0 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #b4b4b4;
    font-size: 0.5rem;
}