section.mosaic {
    margin: 0 auto;
    padding: 0 30px;
}

.mosaicWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.mosaicSingle {
    width: calc(100% / 6);
}

.imgMosaicSingle {
    width: 100%;
    padding-top: 100%;
    border: 5px solid black;
}