* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  height: 100%;
  font-size: 35px;
}

div.flexCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 20px 2%;
}

div.mainBox {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

div.mainBoxMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header div.logo {
  width: 236px;
  height: 40px;
  background-image: url(../imagens/logo.png);
  background-position: center;
  background-size: cover;
}

header nav ul {
  list-style-type: none;
  display: flex;
}

header nav ul li {
  text-transform: uppercase;
  padding: 0 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #b4b4b4;
  font-size: 0.5rem;
}

header nav.mobileMenu {
  display: none;
  width: 28px;
  height: 28px;
  cursor: pointer;
  background-image: url(../imagens/menu-mobile.png);
  background-size: 100% 100%;
}

header nav.mobileMenu ul {
  position: absolute;
  left: 0;
  top: 75px;
  background-color: white;
  text-align: center;
  display: none;
  width: 100%;
  z-index: 10;
}

header nav.mobileMenu ul li {
  padding: 20px 0;
  text-transform: uppercase;
}

section.mosaic {
  margin: 0 auto;
  padding: 0 30px;
}

.mosaicWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.mosaicSingle {
  width: calc(100% / 6);
}

.imgMosaicSingle {
  width: 100%;
  padding-top: 100%;
  border: 5px solid black;
}

section.services > .mainBox {
  max-width: 800px;
  display: flex;
  align-items: center;
  position: relative;
  top: -30px;
  text-align: center;
}

section.services > .mainBox .servicesBox {
  background-image: url(../imagens/icone_dente.png);
  background-size: 18px 18px;
  background-position: center calc(100% - 0.1rem);
  background-repeat: no-repeat;
}

section.services > .mainBox .servicesBox h2 {
  color: white;
  font-weight: normal;
  font-size: 0.6rem;
}

section.services > .mainBox .servicesBox p {
  color: white;
  margin-top: 8px;
  font-weight: normal;
  font-size: 0.4rem;
}

section.services > .mainBox .servicesBox:nth-of-type(1),
section.services > .mainBox .servicesBox:nth-of-type(3) {
  width: 30%;
  padding: 30px 2%;
  background-color: #576975;
}

section.services > .mainBox .servicesBox:nth-of-type(2) {
  width: 40%;
  padding: 60px 2%;
  background-color: #688293;
  background-image: none;
}

section.containerProfile {
  padding: 20px;
}

section.containerProfile div.mainBox {
  max-width: 800px;
}

section.containerProfile div.wrapperProfile {
  padding: 60%;
  position: relative;
}

section.containerProfile div.wrapperProfile .paddingImg {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

section.containerProfile div.wrapperProfile .profileImg {
  width: 50%;
  height: 100%;
  background-image: url(../imagens/img_perfil.png);
  background-size: 100% 100%;
}

section.containerProfile div.profiletext {
  width: 60%;
  padding: 0 30px;
}

section.containerProfile div.mainBox div.wrapperProfile div.paddingImg .profiletext h2 {
  font-size: 0.8rem;
  color: #698293;
  text-transform: uppercase;
}

section.containerProfile div.mainBox div.wrapperProfile div.paddingImg .profiletext p {
  font-size: 0.5rem;
  color: #4b4bb4;
  margin-top: 8px;
}

section.videos {
  padding: 50px 20px;
}

section.videos .boxVideo {
  width: 33.3%;
  padding-top: calc(33.3% * 0.6);
  border: 3px solid white;
  position: relative;
  background-color: gray;
}

section.videos .boxVideo iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

section.treatments > h2 {
  color: #698293;
  font-size: 0.9rem;
  text-align: center;
  text-transform: uppercase;
}

section.treatments .paddingTreatments {
  padding: 70px 20px;
}

section.treatments .tratmentsContainer {
  width: 33.3%;
}

section.treatments .tratmentsContainer .tratmentsSingle {
  padding: 20px;
}

section.treatments .tratmentsContainer .tratmentsSingle h2 {
  color: #737373;
  font-size: 0.8rem;
}

section.treatments .tratmentsContainer .tratmentsSingle p {
  color: #b4b4b4;
  font-size: 0.6rem;
  padding: 10px 0;
}

@media screen and (max-width: 768px) {
  div.flexCenter {
    flex-direction: column;
    align-items: center;
  }
  header nav.desktopMenu {
    display: none;
  }
  header nav.mobileMenu {
    display: unset;
  }
  section.services > .mainBox .servicesBox:nth-of-type(1),
  section.services > .mainBox .servicesBox:nth-of-type(3) {
    width: 90%;
    max-width: 350px;
    padding: 30px 2%;
    background-color: #576975;
  }
  section.services > .mainBox .servicesBox:nth-of-type(2) {
    width: 90%;
    max-width: 380px;
    padding: 40px 2%;
  }
  section.containerProfile div.wrapperProfile {
    padding: 0;
  }
  section.containerProfile div.wrapperProfile .paddingImg {
    display: inline-block;
    text-align: center;
    position: static;
  }
  section.containerProfile div.wrapperProfile .profileImg {
    width: 50%;
    height: auto;
    padding-top: 70%;
    display: inline-block;
  }
  section.containerProfile div.profiletext {
    width: 100%;
    display: inline-block;
    text-align: justify;
    padding: 0 30px;
  }
  section.videos .boxVideo {
    width: 100%;
    padding-top: 40%;
  }
}

@media screen and (max-width: 580px) {
  section.containerProfile div.wrapperProfile .profileImg {
    width: 80%;
    padding-top: 110%;
  }
}

@media screen and (max-width: 480px) {
  header div.logo {
    width: 200px;
  }
}
/*# sourceMappingURL=main.css.map */