* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    height: 100%;
}

header {
    padding: 20px 2%;
}

header div.mainBox {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div.mainBox div.logo {
    width: 236px;
    height: 40px;
    background-image: url(../imagens/logo.png);
    background-position: center;
    background-size: cover;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul li {
    text-transform: uppercase;
    padding: 0 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #b4b4b4;
}